section.bomb-or-claat-game {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 50px 10%;
  padding-bottom: 10px;
  gap: 20px;
  position: relative;
}

div.bomb-or-claat-content {
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: hsl(
    from var(--secondary-color) calc(h + 2) calc(s - 20) calc(l + 4)
  );
  border-radius: 16px;
  border: solid 1px hsl(from var(--secondary-color) h calc(s - 36) calc(l + 16));
  gap: 10px;
  padding: 10px;
}

div.box {
  background-color: var(--secondary-color);
  border-radius: 12px;
  border: solid 1px hsl(from var(--secondary-color) h s calc(l + 7));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 100ms;
  cursor: pointer;
  aspect-ratio: 1;
}

div.box.bomb.revealed {
  border-color: #f44343;
}

div.box.revealed {
  border-color: var(--primary-color);
  background-color: hsl(from var(--secondary-color) h s calc(l + 10));
}

div.box:hover,
div.box:active,
div.box:focus {
  background-color: hsl(from var(--secondary-color) h s calc(l + 5));
}

div.bomb-or-claat-settings-tab {
  background: hsl(
    from var(--secondary-color) calc(h + 2) calc(s - 20) calc(l + 4)
  );
  border-radius: 16px;
  border: solid 1px hsl(from var(--secondary-color) h calc(s - 36) calc(l + 16));
  display: grid;
  grid-template-rows: 5fr 2fr;
  padding: 10px;
}

div.bomb-or-claat-settings-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div button.level-button {
  flex: 1;
  border-radius: 10px;
  text-transform: capitalize;
  font-family: var(--text-font);
  font-weight: 600;
  border: solid 1px rgba(255, 255, 255, 0.1);
  background: var(--secondary-color);
  color: var(--primary-color);
  transition: all ease-in-out 100ms;
  cursor: pointer;
}

div button.level-button.active {
  border-color: var(--primary-color);
}

div button.level-button:hover,
div button.level-button:active,
div button.level-button:focus {
  transform: scale(1.01);
  color: var(--details-color);
}

div.bomb-or-claat-settings-actions {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  padding: 15px;
}

div.bomb-or-claat-settings-actions > * {
  flex: 1;
  color: var(--primary-color);
}

button.bomb-or-claat-cash-out-button {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
  color: var(--secondary-color);
  font-weight: 700;
  transition: all ease-in-out 200ms;
}

button.bomb-or-claat-cash-out-button:hover,
button.bomb-or-claat-cash-out-button:active,
button.bomb-or-claat-cash-out-button:focus {
  background-color: hsl(from var(--primary-color) h s calc(l - 5));
  transform: scale(1.02);
}

div.bomb-or-claat-game-over.off {
  display: none;
}

div.bomb-or-claat-game-over.on {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.bomb-or-claat-game-over.on h2 {
}

div.bomb-or-claat-lose-card {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 16px;
  border: solid 1px hsl(from var(--secondary-color) h calc(s - 36) calc(l + 16));
  gap: 20px;
  width: 20%;
}

div.bomb-or-claat-lose-card button {
  border: none;
  flex: 1;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: 600;
  background-color: var(--primary-color);
  transition: all ease-in-out 200ms;
}

div.bomb-or-claat-lose-card button:hover,
div.bomb-or-claat-lose-card button:active,
div.bomb-or-claat-lose-card button:focus {
  transform: scale(1.03);
}
