section.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 96px 10%;
}

h1 {
  font-size: 7.5rem;
  text-align: center;
  line-height: 7.5rem;
}

img.main-image {
  width: 100%;
}
