:root {
  --primary-color: #c1f17e;
  --secondary-color: #080f17;
  --text-color: #d6dde6;
  --details-color: #a7ee43;
  --text-font: "Plus Jakarta Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--text-font);
  color: var(--text-color);
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: var(--details-color);
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
